.card-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap: 10px;
}

@media screen and (max-width: 768px) {
  .top-score-header-xs {
    height: 2.5rem;
  }
}
