.app {
  text-align: left;
  height: 100vh;
}

.app-header {
  min-height: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 10px;
}

.main-gameboard {
  min-height: 90%;
}
